.top-section{
    background-color: honeydew;
font-family: Arial, Helvetica, sans-serif;
color: grey;

}
.Caption{
background-color: honeydew;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: deepskyblue;



}

body{


    background-color: lightcyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: navy;
}
.image-section{





}
.image-one-two-three{
text-align: center;


}
