.top-section{
    background-color: bisque;
font-family: Arial, Helvetica, sans-serif;
color: grey;

}
.Caption{
background-color: bisque;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: black;



}

body{


    background-color: darksalmon;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: navy;
}
.image-section{
background-color: azure;




}

